workflows/n8n_rent_reminders.workflow.json
{
  "name": "Rent Reminders (Cron + Callback)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger - Daily 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -980,
        220
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.NEXT_PUBLIC_APP_URL || 'http://127.0.0.1:3000') + '/api/automations/lease-candidates' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-landlord-id",
              "value": "={{ $env.N8N_LANDLORD_ID || '' }}"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.N8N_SCHEDULER_API_KEY || $env.N8N_CALLBACK_SECRET || '' }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "2",
      "name": "Load Lease Candidates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\nconst now = new Date();\n\nif (!response.candidates || !Array.isArray(response.candidates)) {\n  return [];\n}\n\nreturn response.candidates.map((c) => ({\n  json: {\n    ...c,\n    runAt: now.toISOString()\n  }\n}));"
      },
      "id": "2b",
      "name": "Transform Lease Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\n\nlet template = 'friendly';\nlet needsLandlordAlert = false;\n\nif (item.overdueDays >= 7) {\n  template = 'legal_notice';\n  needsLandlordAlert = true;\n} else if (item.overdueDays >= 3) {\n  template = 'firm_overdue';\n  needsLandlordAlert = true;\n} else if (item.overdueDays >= 1) {\n  template = 'overdue';\n} else if (item.daysToDue <= 1) {\n  template = 'due_tomorrow';\n} else if (item.daysToDue <= 3) {\n  template = 'due_3_days';\n}\n\nreturn [{\n  json: {\n    ...item,\n    template,\n    needsLandlordAlert\n  }\n}];"
      },
      "id": "3",
      "name": "Classify Reminder Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        220
      ]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "4",
      "name": "Wait - Twilio Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -260,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const records = $input.all().map((row) => row.json);\n\nconst remindersSet = records.length;\nconst overdueAlerts = records.filter((r) => r.needsLandlordAlert).length;\nconst landlordId = records[0]?.landlordId ?? null;\nconst runStamp = $now.toISO();\n\nreturn [{\n  json: {\n    workflowName: 'rent-reminders',\n    trigger: 'cron',\n    outcome: 'success',\n    landlordId,\n    correlationId: $execution.id,\n    idempotencyKey: `rent-reminders:${runStamp}:${$execution.id}`,\n    details: {\n      remindersSet,\n      overdueAlerts,\n      runAt: runStamp\n    }\n  }\n}];"
      },
      "id": "5",
      "name": "Build Callback Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.N8N_APP_CALLBACK_URL || $env.NEXT_PUBLIC_APP_URL || 'http://127.0.0.1:3000') + '/api/webhooks/n8n' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.N8N_CALLBACK_SECRET || '' }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "6",
      "name": "HTTP - Callback to App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        220
      ]
    }
  ],
  "connections": {
    "Schedule Trigger - Daily 8AM": {
      "main": [
        [
          {
            "node": "Load Lease Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Lease Candidates": {
      "main": [
        [
          {
            "node": "Transform Lease Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Lease Data": {
      "main": [
        [
          {
            "node": "Classify Reminder Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Reminder Type": {
      "main": [
        [
          {
            "node": "Wait - Twilio Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Twilio Rate Limit": {
      "main": [
        [
          {
            "node": "Build Callback Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Callback Summary": {
      "main": [
        [
          {
            "node": "HTTP - Callback to App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4d11e0c8-71d4-4e59-8834-7f07870a0101",
  "meta": {
    "instanceId": "re-saas"
  },
  "id": "rent-reminders-workflow",
  "pinData": {}
}
